/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*a:hover {*/
/*    background-color: yellow;*/
/*}*/
/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
/*a:hover {*/
/*    color: red;*/
/*}*/

/* selected link */
/*a:active {*/
/*    color: yellow;*/
/*}*/
a {  
        color:#110;
        -webkit-transition: background 0.7s linear;
        -moz-transition: background 0.7s linear;
        -ms-transition: background 0.7s linear;
        -o-transition: background 0.7s linear;
        transition: background 0.7s linear;
}
a:hover { background-color: #d1d1d1; color:#000;  }

