html, body {
  margin: 0;
  padding: 0;
  background: Black;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: maroon;
  font-size: 250%;
  font-style: italic;
  font-weight: bold;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: green;
  color: maroon;
  border-bottom: 4px solid maroon;
  font-size: 4em;
  font-style: normal;
}
table#movies {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#movies th {
  border: 2px solid black;
  font-weight: bold;
  background-color: black;
}
table#movies th, table#movies td {
  padding: 4px;
  text-align: left;
}
#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}
.button{
  color: black;
  width: 70px;
  height: 25px;
  background: green;
  border: black;
  /*add any other properties you want to style*/
}

.box{
  color: white;
  width: 15px;
  height: 15px;
  background: green;
  /*border: black;*/
  /*add any other properties you want to style*/
}